  *{
            margin:0;
        }
        @font-face {
            src: url(idroid.otf);
            font-family: 'Idroid';
        }
        body {
            background-color: rgba(196, 181, 162, 0.863);
        }
     
       header{
        background-image: linear-gradient(to bottom, #0ca83b, #074219);
        color: white;
        height: 149px;
       }
       header p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: center;
       }
       @media (max-width: 1100px) {
        header p {
            font-size: 13px;
        }
       }
       h1{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 32px;
        padding: 15px;
       }
       .nav p {
        font-size: 18px;
        display: inline;
        padding: 10px;
       }
       @media (max-width: 870px) {
        .nav p {
            font-size: 12px;
            padding: 0px;
        }
       }
       @media (max-width: 515px) {
        .nav p {
            color: #074219;
        }
       }
       .nav p:hover {
        background-color: #0ca83b;
        border-radius: 5%;
        color: #074219;
        cursor: pointer;
       }
       .main {
        background-color: white;
        width: 70%;
        height: 1300px;
        margin: auto;
       }
       .main2 {
        background-color: #074219;
        width: 70%;
        height: 550px;
        margin: auto;
        display: flex;
       }
       .main3 {
        background-color: white;
        width: 70%;
        height: 530px;
        margin: auto;
        display: flex;
        border-radius: 0 0 10px 10px;
       }
       @media (max-width: 1200px) {
        .main, .main2 {
            
            height: auto;
        }
       }
       @media (max-width: 1000px) {
       .main3 {
            height: 540px;
        }
       }

       .main p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-align: justify;
        text-indent: 10px;
        padding: 10px 20px;
       }
       h2{
        font-family: 'Idroid', sans-serif;
        font-size: 35px;
        padding: 20px 30px;
        color: #0ca83b;
       }
       h3{
        font-family: 'Idroid', sans-serif;
        font-size: 28px;
        margin-left: 20px;
        color: #0ca83b;
        background-image: linear-gradient(to right, #a8e6b1, #ffffff);
       }
       .img {
        margin-left: auto;
        margin-right: auto;
        display: flex;
       }
       @media (max-width: 1150px) {
        .img {
            width: 300px;
        }
       }
       .video{
        margin-left: auto;
        margin-right: auto;
        margin-top: 17px;
        display: flex;
       }
       @media (max-width: 1150px) {
        .video {
            width: 500px;
            height: 300px;
        }
       }
       @media (max-width: 750px) {
        .video {
            width: 300px;
            height: 170px;
            margin-top:0px;
        }
       }
       .plink{
        color: #074219;
         background-color: #48c76e;
         text-decoration: none;
       }
       .plink2{
        color: #074219;
         text-decoration: none;
       }
          .plink2:hover {
        text-decoration: underline;
        cursor: pointer;
       }
       .plink:hover {
        text-decoration: underline;
        cursor: pointer;
       }
       .div {
        font-family: Arial, Helvetica, sans-serif;       margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        background-color: #59d37e;
        height: 450px;
        width: 900px;
        border-radius: 10px;
       }
       @media (max-width: 1100px) {
        .div {
            width: 400px;
            height: auto;
        }
        .div p {
            font-size: 14px;
        }
       }
       @media (max-width: 550px) {
        .div {
            font-size: 10px;
        }
       }
       .div p {
        padding: 15px;
       }
    
       .nav2 p {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
       }
       .nav2{
        height: 50px;
        background-color: #074219;
        width: 100%;
        border-radius: 10px 10px 0 0;
        display: flex;
       }
       aside{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
       }
      .pfinal {
        position: absolute;
        top: 2495px;
        left: 250px;
      }
      @media (max-width: 1300px) {
        .pfinal {
            font-size: 15px;
        }
       }
      @media (max-width: 1250px) {
        .pfinal {
            visibility: hidden;
        }
       }
      @media (max-width: 1200px) {
        footer {
            margin-top: 250px;
        }
       }
     @media (max-width: 1000px) {
        footer {
            margin-top: 250px;
        }
       }